---
import '../styles/portfolio.css';
let projects=[
{
    id:6,
    name:'Anime List',
    photo1:'/projects/anime4.webp',
    tech:'ReactJS / MaterialUI ',
  },
  {
      id:2,
      name:'Hotel casa barlovento',
      photo1:'/projects/barlovento1.webp',
      tech:'VueJS / NodeJS',
  },
  
  {
    id:1,
    name:'Hotel nacional',
    photo1:'/projects/nacional1.webp',
    tech:'VueJS / NodeJS',
  },
  {
      id:7,
      name:'Terraria Npcs',
      photo1:'/projects/terraria4.webp',
      tech:'ReactJS / .NET Core',
  },
  {
      id:3,
      name:'Unit Converter',
      photo1:'/projects/unit1.webp',
      tech:'AstroJS / NestJS',
  },
  {
    id:4,
    name:'Pinky store',
    photo1:'/projects/pinkystore1.webp',
    tech:'Bootstrap / PHP',
  },
  {
    id:5,
    name:'HapFit',
    photo1:'/projects/hapfit1.webp',
    tech:'Vuejs / Electron / Nodejs',
    
  },
  
];
---
<div id="portfolio">
    <div class="textAbout">
        <h2 >PROJECTS</h2>
        <!-- <i class="bi bi-arrow-bar-down"></i> -->
    </div>
    <div class="containerProjects">
    
        {projects.map((project) => 
        <div class="card  text-black rounded-0">
            <img class="card-img rounded-0" src={project.photo1} alt={project.name}/>
            <div class="card-img-overlay">
                <d class="card-title">{project.name}</d>
                <p class="card-text mb-5">{project.tech}</p>
                <button class="btn btn-outline-success buttonModal" value={project.id}>LEARN MORE</button>
            </div>
        </div>
        )}

      </div>
      <!-- modal portfolio -->
      <div class="modal fade " id="modal"  aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down" >
          <div class="modal-content ">
            <div class="modal-header">
                <div id="carousel" class="carousel slide " data-interval="3000" data-bs-ride="carousel" >

                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
                      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
                      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
                    </div>
                    
                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                      
                    </div>
                    
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
              <h1>App title</h1>
              <h4>subtitle</h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem totam nisi pariatur eos quibusdam laudantium, </p>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Visit Github <i class="bi bi-github"></i></button>
              <button type="button" class="btn btn-success  me-auto">Web page <i class="bi bi-box-arrow-up-right"></i></button>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->

            </div>
          </div>
        </div>
      </div>
</div>
<!-- Carousel -->

<script >
// <script define:vars={{ data }}>
    import '../scripts/portfolio.js'

  

</script>